<script>

    // Datenfelder
    let customerID = "CUS1d34e56"
    let customerFirstname = "Thomas"
    let customerLastname = "Kutz"
    let customerEmail = "tk@it.de"
    let customerStreet = "Straße 2"
    let customerZipcode = "6020"
    let customerCity = "Innsbruck"
    let customerCountry = "Österreich"
    let cartItems =
        [{
            productNumber: 'B123RE123B',
            productName : 'Soarch',
            priceNet : 99.00,
            tax : 20,
            amount: 1
        }]
    let result = null
    //

    $: endpoint = "http://localhost:8888/api/v1/orders/";

    async function doPost() {
        console.log("Test: "+cartItems.toString());
        const res = await fetch(endpoint, {
            method: 'POST',
            body: JSON.stringify({
                customerID,
                customerFirstname,
                customerLastname,
                customerEmail,
                customerStreet,
                customerZipcode,
                customerCity,
                customerCountry,
                cartItems
            }),
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            }
        })

        const json = await res.json()
        result = JSON.stringify(json)
    }
</script>

<svelte:head>
    <title>Bestellstatus</title>
</svelte:head>


<strong><h1>Bestellung</h1></strong>
<p>Bitte geben Sie ihre Daten ein: </p>

<div class="container">
    <ul>
        <li><input bind:value={customerID}></li>
        <li><input bind:value={customerFirstname}></li>
        <li><input bind:value={customerLastname}></li>
        <li><input bind:value={customerEmail}></li>
        <li><input bind:value={customerStreet}></li>
        <li><input bind:value={customerZipcode}></li>
        <li><input bind:value={customerCity}></li>
        <li><input bind:value={customerCountry}></li>
        <li><input bind:value={cartItems}></li>
    </ul>

<button type="button" on:click={doPost}>
    Bestellung abschicken
</button>
<p>
    Result:
</p>
<pre>
{result}
</pre>
</div>

<style>
    .container {
        border-top: 2px solid #333;
        max-width: 100%;
        border-bottom: 5px solid #333;
        min-height: 200px;
        height: calc(100vh - 15em);
    }
</style>