<script>

  // @ts-ignore
  import { Router, Route, Link, link } from "svelte-navigator";
  import {onMount } from "svelte"
  import { check_outros } from "svelte/internal";
    
  //festgelegte Parameter
    let order_id = 'O323567890';
    $: endpoint = 'http://localhost:8080/api/v1/orders/sortedandpaged/';
    $: endpointBestellungAbsetzen = "http://localhost:8080/api/v1/orders/";
    $: endpointImWarenkorb = "http://localhost:8080/stock/packings";
    $: endpointToSetPacked = "http://localhost:8080/stock/setPackedForPacking/";
    let customerID = '1A2B3C4D5E';
    let customerFirstname = 'Florian', customerLastname='Sojer';
    let customerEmail = 'flo@sojer.at', customerStreet='Colony Square', customerCity='Rocky Mount NC';
    let  customerZipcode ='27801';
    let customerCountry = 'USA';
    let artikel = [
      {productNumber:'1A2B3C4D5E', productName: "MacBook", priceNet: 1799, tax:10, amount: 1},
      {productNumber:'2A2B3C4D5E', productName: "Ladekabel", priceNet: 99, tax:10, amount: 1},
      {productNumber:'3A2B3C4D5E', productName: "iPhone", priceNet: 799, tax:10, amount: 1},
      {productNumber:'4A2B3C4D5E', productName: "iPad", priceNet: 999, tax:10, amount: 1},
      {productNumber:'5A2B3C4D5E', productName: "Scheibenwischer", priceNet: 199, tax:10, amount: 1}
    ]
    let cartItems = [];
    let imWarenkorb = null;
    let result = null;
    let derweilCarItems = null;
  
    $: if( order_id.length === 10){
      promise = getOrders();
    }

    //Alle Bestellungen anzeigen
    async function getOrders(){
    const response = await fetch(endpoint); 
    const orders  = response.json();
      if(orders.errorCode){
        throw new Error(orders.errorMessage);
      }else{
        console.log("Orders");
        console.log(orders);
        return orders; 
      }
    }
    let promise = getOrders();

  //Bestellung als Verifiziert setzen
   async function setChecked(orderID){
    //alert('Wird Verifiyed' + orderID);
    const res = await fetch('http://localhost:8080/api/v1/orders/checkpayment/' + orderID, {
			method: 'POST'
		})
		
		const json = await res.json();
		let result = JSON.stringify(json);
   }


   //Bestellung absetzen
   async function bestellungAbsetzen(){
    console.log("Test: "+JSON.stringify({
          customerID,
          customerFirstname,
          customerLastname,
          customerEmail,
          customerStreet,
          customerZipcode,
          customerCity,
          customerCountry,
          cartItems
        }));
      const res = await fetch(endpointBestellungAbsetzen, {
        method:'POST',
        body: JSON.stringify({
          customerID,
          customerFirstname,
          customerLastname,
          customerEmail,
          customerStreet,
          customerZipcode,
          customerCity,
          customerCountry,
          cartItems
        }),
        headers:{
          'Content-Type' : 'application/json; charset=utf-8'
        }
      })
      const json = await res.json();
      result = JSON.stringify(json)

      if(result.errorCode){
        throw new Error(result.errorMessage);
      }else{
        return result; 
      }
   }

   //Warenkorb verwalten
   //let packings = [];
   async function getPackings() {
     const response = await fetch(endpointImWarenkorb);
     var packings = await response.json();
     if(packings.errorCode){
        throw new Error(packings.errorMessage);
      }else{
        console.log(packings);
        return packings; 
      }
   }

   let promiseGetPackings = getPackings();

   async function setPacked(itemID){
     console.log("Item is packed!")
    const res2 = await fetch(endpointToSetPacked + itemID, {
			method: 'POST',
      headers: {
          "Content-Type": "application/hal+json",
        }
		})
		
		//const json2 = await res2.json()
		//let result2 = JSON.stringify(json2)
    promiseGetPackings = getPackings();
   }

  //Beim oeffnen der Applikation wird dies ausgefuehrt
  onMount(async function () {
      promise = getOrders();
      promiseGetPackings = getPackings();
   }); 

</script>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .content {
    display: grid;
    grid-template-columns: 20% 60%;
    grid-column-gap: 10px;
  }
  </style>

<Router>
  <header>
    <h1>ERP-Lite</h1>

    <nav>
      <Link to="bestellung">Bestellung Anlegen</Link>
      <Link to="checkOrder">Bestellung Überprüfen</Link>
      <Link to="Warenkorb">Warenkorb </Link>
    </nav>
  </header>

  <main>
    <Route path="bestellung">
 
    <h1> 
      Bestellung Aufgeben
    </h1>
    <form class="content"> 
      <label for="cID"> Costumer ID: </label>
      <input type="text" id="cID" bind:value={customerID} required>
      <label for="fname"> Vorname: </label>
      <input type="text" id="fname" bind:value={customerFirstname} required>
      <label for="lname"> Nachname: </label>
      <input type="text" id="lname" bind:value={customerLastname} required>
      <label for="email"> Email:</label>
      <input type="email" id="email" bind:value={customerEmail} required>
      <label for="street"> Straße:</label>
      <input type="" id="street" bind:value={customerStreet} required>
      <label for="zipcode"> PLZ:</label>
      <input type="" id="zipcode" bind:value={customerZipcode} required>
      <label for="city">Ort: </label>
      <input type="" id="city" bind:value={customerCity} required>
      <label for="country">Land: </label>
      <input type="" id="country" bind:value={customerCountry} required>
      <label for="artikel"> Artikel </label>
      <select id="artikel" bind:value={derweilCarItems} on:change="{() => imWarenkorb = ''}" required>
        {#each artikel as einzelArtikel}
          <option value={einzelArtikel}>
            {einzelArtikel.productName}
          </option>
        {/each}
      </select>
      <button type="submit" on:click={cartItems.push(derweilCarItems)} on:click={bestellungAbsetzen}> Bestellen </button>
    </form>
    <p>Ausgewählte Artikel { derweilCarItems ? derweilCarItems.productName : '[waiting...]'}</p>
    </Route>



    <Route path="checkOrder">
      {#await promise}
      <p style="color: blue;"> Warte auf Daten </p>
    {:then orders} 
    <table>
        <tr>
          <th>Order ID</th>
          <th>Email</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Total</th>
          <th>Bezhalung akzeptiert</th>

        </tr>
        {#each orders as order }
          <tr>
            <td>{order.orderID}</td>
            <td> {order.customerEmail}</td>
            <td> {order.customerFirstname}</td>
            <td> {order.customerLastname}</td>
            <td> {order.grossTotal}</td>
            <td> {#if order.state == "PAYMENT_VERIFIED"}
                Checked
                {:else if order.state == "PREPARING_FOR_DELIVERY"}
                Preparing for Delivery
              {:else}
            <button type="submit" on:click={setChecked(order.orderID)} on:click={() => location.reload()} > Check </button>
             {/if} </td>
          </tr>
        {/each}
    </table>
    {/await}
    </Route>

    <Route path="Warenkorb">
      {#await promiseGetPackings}
      <p style="color: blue;"> Warte auf Daten </p>
      {:then packings} 
      <table>
          <tr>
            <th>Pack ID</th>
            <th>Order ID</th>
            <th>Productnumber</th>
            <th>Name</th>
            <th>Menge</th>
            <th>Verpackungsstatus</th>
          </tr>
          {#each packings as pack }
            <tr>
              <td>{pack.id}</td>
              <td> {pack.orderId}</td>
              {#each pack.packingItemList as item }
              <td> {item.productNumber}</td>
              <td> {item.productName}</td>
              <td> {item.amount}</td>
              <td> {#if item.packed == true}
                  Verpackt
                {:else}
              <button type="submit" on:click={setPacked(item.id)} on:click={() => location.reload()} > Pack </button>
              {/if} </td>
              {/each}
            </tr>
          {/each}
      </table>
    {/await}
    </Route>
  </main>
</Router>