<script>

    import {onMount } from "svelte"
    
    let order_id = 'O323567890';
    $: endpoint = 'http://localhost:8080/api/v1/orders/sortedandpaged/';
  
    $: if( order_id.length === 10){
      promise = getOrders();
    }
    async function getOrders(){
    const response = await fetch(endpoint); 
    const orders  = await response.json();
  
    //console.log(order);
      if(orders.errorCode){
        throw new Error(orders.errorMessage);
      }else{
        return orders; 
      }
    }

    let promise = getOrders();
  
      onMount(async function () {
          promise = getOrders();
      }); 
  
  </script>
  
  <main>	
  <h1> Hallo </h1>
  
  </main>